@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Inter";
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  @apply underline transition-all duration-100 underline-offset-4 hover:text-zinc-100 lg:hover:text-zinc-900 lg:dark:hover:text-zinc-100 hover:scale-105;
}

.loader {
  @apply w-[10px] h-[10px] rounded-[50%] bg-gray-700 dark:bg-white;
  margin: 40px 5px;
}

.social-button {
  @apply mt-5 text-3xl duration-300 rounded-lg hover:-translate-y-2;
}

.social-button-small {
  @apply mt-5 text-2xl duration-300 rounded-lg hover:-translate-y-2;
}

.category-button {
  @apply border border-gray-300 text-gray-700 dark:hover:text-gray-800 dark:text-gray-300 rounded-full px-4 py-1 m-2 transition duration-500 ease-in-out select-none hover:bg-gray-200 focus:outline-none font-semibold;
}
.category-button-active {
  @apply dark:text-gray-800 bg-gray-200;
}
